.fire-wave {
  animation: fire-wave-animate 15s ease-in-out infinite;
}

@keyframes fire-wave-animate {
  0% {
    d: path(
      'M0,64L60,64C120,64,240,64,360,90.7C480,117,600,171,720,176C840,181,960,139,1080,117.3C1200,96,1320,96,1380,96L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'
    );
  }
  25% {
    d: path(
      'M0,192L60,186.7C120,181,240,171,360,154.7C480,139,600,117,720,106.7C840,96,960,96,1080,101.3C1200,107,1320,117,1380,122.7L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'
    );
  }
  50% {
    d: path(
      'M0,32L60,64C120,96,240,160,360,170.7C480,181,600,139,720,117.3C840,96,960,96,1080,117.3C1200,139,1320,181,1380,202.7L1440,224L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'
    );
  }
  75% {
    d: path(
      'M0,160L60,138.7C120,117,240,75,360,69.3C480,64,600,96,720,96C840,96,960,64,1080,58.7C1200,53,1320,75,1380,85.3L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'
    );
  }

  100% {
    d: path(
      'M0,64L60,64C120,64,240,64,360,90.7C480,117,600,171,720,176C840,181,960,139,1080,117.3C1200,96,1320,96,1380,96L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'
    );
  }
}
