.logo-bubble {
  animation: logo-animate 10s linear infinite;
}

@keyframes logo-animate {
  0% {
    d: path(
      'M36.5,-51.8C47.6,-42.1,57.3,-31.9,62.1,-19.6C66.8,-7.3,66.8,7.2,63.3,21.4C59.8,35.5,52.8,49.4,41.7,58.8C30.6,68.3,15.3,73.5,0.8,72.4C-13.8,71.3,-27.5,64.1,-41.6,55.5C-55.7,47,-70,37.2,-74.7,24C-79.5,10.8,-74.5,-5.9,-68.6,-21.7C-62.7,-37.6,-55.9,-52.6,-44.3,-62.1C-32.7,-71.7,-16.4,-75.8,-1.8,-73.3C12.7,-70.7,25.3,-61.5,36.5,-51.8Z'
    );
  }
  20% {
    d: path(
      'M47.4,-65.8C58.1,-57.4,61.3,-39.2,62.9,-23.1C64.5,-7,64.4,7,60.1,19.3C55.8,31.7,47.2,42.4,36.5,55.4C25.8,68.4,12.9,83.6,-1.5,85.6C-15.9,87.7,-31.7,76.6,-47,65.1C-62.3,53.6,-77,41.7,-81.2,26.8C-85.4,12,-79.1,-5.8,-71.9,-21.9C-64.6,-37.9,-56.4,-52.2,-44.3,-60.1C-32.2,-68,-16.1,-69.5,1.1,-71C18.3,-72.6,36.6,-74.1,47.4,-65.8Z'
    );
  }
  40% {
    d: path(
      'M48.4,-65.9C63.6,-55.6,77.2,-42.6,82.5,-26.7C87.7,-10.9,84.6,7.8,75.7,21.3C66.7,34.7,51.9,42.9,38.4,54.6C24.8,66.3,12.4,81.4,-1.1,82.9C-14.6,84.4,-29.1,72.2,-41,60C-52.8,47.8,-61.9,35.4,-67.8,21.1C-73.7,6.8,-76.3,-9.4,-73.5,-25.7C-70.6,-41.9,-62.4,-58.2,-49.2,-69.1C-36.1,-79.9,-18,-85.4,-0.7,-84.4C16.6,-83.4,33.3,-76.1,48.4,-65.9Z'
    );
  }
  60% {
    d: path(
      'M41.7,-61.3C52.4,-49.5,58.5,-35.3,62.6,-20.8C66.8,-6.3,68.9,8.4,66.6,23.5C64.2,38.6,57.4,54.1,45.6,62C33.7,69.9,16.9,70.2,1.8,67.7C-13.3,65.3,-26.6,60.2,-39.4,52.6C-52.2,45,-64.5,35,-67.8,22.5C-71.2,10.1,-65.6,-4.7,-59.3,-17.8C-53,-30.8,-45.9,-42.1,-35.9,-54.1C-25.9,-66.1,-12.9,-78.8,1.3,-80.6C15.4,-82.3,30.9,-73,41.7,-61.3Z'
    );
  }
  80% {
    d: path(
      'M39.8,-58.6C51.7,-46.1,61.5,-34.6,65.1,-21.6C68.7,-8.6,66,6,63.7,23.1C61.4,40.1,59.5,59.7,48.9,69.7C38.4,79.6,19.2,80,3.1,75.8C-13,71.5,-26,62.6,-37.1,52.8C-48.2,43,-57.4,32.3,-65.7,18.6C-74,4.8,-81.3,-12,-79.5,-28.3C-77.6,-44.7,-66.6,-60.6,-51.8,-72.1C-37,-83.6,-18.5,-90.8,-2.3,-87.6C13.9,-84.5,27.9,-71,39.8,-58.6Z'
    );
  }
  100% {
    d: path(
      'M36.5,-51.8C47.6,-42.1,57.3,-31.9,62.1,-19.6C66.8,-7.3,66.8,7.2,63.3,21.4C59.8,35.5,52.8,49.4,41.7,58.8C30.6,68.3,15.3,73.5,0.8,72.4C-13.8,71.3,-27.5,64.1,-41.6,55.5C-55.7,47,-70,37.2,-74.7,24C-79.5,10.8,-74.5,-5.9,-68.6,-21.7C-62.7,-37.6,-55.9,-52.6,-44.3,-62.1C-32.7,-71.7,-16.4,-75.8,-1.8,-73.3C12.7,-70.7,25.3,-61.5,36.5,-51.8Z'
    );
  }
}
