.slider__container{
 width: 55%;
}
.poster{
  border-radius: 20px;
 }
 .shadow{
     box-shadow: 28px 2px 18px 10px #101010;
     border-radius: 20px;
 }
 .second{
 margin-left: -28%;
 margin-top: 1%;
 }
 .third{
     margin-left: -30%;
     margin-top: 1.6%;
     }
 .fourth{
     margin-left: -36%;
     margin-top: 1.6%;
 }