.background{
    box-shadow: 25px 12px 16px 2px #201E1C;
}
.first{
    margin-left:1rem;
}
.second{
    margin-left: -53rem;
}
.third{
    margin-left: -53rem;
    
}
.fourth{
    margin-left: -57rem;
}