.error-bubble-path {
  animation: big-bubble-animate 10s linear infinite;
}

.error-p1 {
  margin-top: -30%;
  margin-left: -47%;
  transform: translate(0, 47%, 30%);
}

@keyframes big-bubble-animate {
  0% {
    d: path(
      'M1920,1080L994.758,1080C928.227,940.178 891,783.83 891,618.852C891,388.529 963.557,175.027 1087.03,0L1920,0L1920,1080Z'
    );
  }
  30% {
    d: path(
      'M1920,1080L994.758,1080C928.227,940.178 940,783.83 940,618.852C940,388.529 963.557,175.027 1087.03,0L1920,0L1920,1080Z'
    );
  }
  60% {
    d: path(
      'M1920,1080L994.758,1080C928.227,940.178 909,660.979 909,496C909,265.678 963.557,175.027 1087.03,0L1920,0L1920,1080Z'
    );
  }
  90% {
    d: path(
      'M1920,1080L994.758,1080C928.227,940.178 891,902.979 891,738C891,507.678 963.557,175.027 1087.03,0L1920,0L1920,1080Z'
    );
  }
  100% {
    d: path(
      'M1920,1080L994.758,1080C928.227,940.178 891,783.83 891,618.852C891,388.529 963.557,175.027 1087.03,0L1920,0L1920,1080Z'
    );
  }
}
